@{
   
    List<MemberModel> members = ViewBag.members;
}

<style>
    th {
        text-align: center;
    }

    container {
        padding: 50px 20px;
    }
</style>



<!--  검색기능 영역  -->
<div class="row">


    <form method="post" name="search" action="/login/adminmember">
        <div style="float:right;">
            <table align="right">
                <tr>
                    <td>
                        <select class="form-control" name="key">
                            <option value="username">이름</option>
                            <option value="member_seq">사번</option>
                            <option value="department">부서</option>
                        </select>
                    </td>
                    <td>
                        <input type="search" class="form-control"
                               placeholder="검색어 입력" name="keyword" maxlength="100">
                    </td>
                    <td><button type="submit" class="btn btn-success">검색</button></td>
                </tr>

            </table>
        </div>
    </form>



    <!--  검색기능 영역 여기까지  -->
    <!-- 본문(테이블) 시작-->


    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered no-wrap">
 
                        <thead>
                            <tr>
                                <th><center>사번</center></th>
                                <th><center>이름</center></th>
                                <th><center>부서</center></th>
                                <th><center>직책</center></th>
                                <th><center>이메일</center></th>
                                <th><center>내선번호</center></th>
                                <th><center>이동번호</center></th>


                            </tr>
                        </thead>
                        <tbody>

                            @for(int i = 0; i < members.Count; i++)
                            {
                                <tr>
                                    <td text-align: center> @members[i].member_seq</td>
                                    <td>
                                        <a href="/login/memberView?idx=@members[i].member_seq">
                                          <center>  @members[i].name</center>
                                        </a>
                                    </td>
                                   
                                    <td><center>@members[i].department</center></td>
                                    <td><center>@members[i].position</center></td>
                                    <td><center>@members[i].email</center></td>
                                    <td><center>@members[i].office_Tel</center></td>
                                    <td><center>@members[i].mobile_Tel</center></td>


                                </tr>
                            }
                        </tbody>
                    </table>

                    @if (members.Count() == 0)
                    {
                        <div class="alert">
                           
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</div>




