@{
    string msg = ViewData["msg"] as string;
    MemberModel member = ViewBag.member;
    
 

}


<DOCTYPE html>
    <html>
    <head>
        <title>내 정보</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    </head>

    <body>
        <div class="main-content">
            <!-- Top navbar -->
            <!-- Form : member update -->
            <form id="member-detail" action="/login/update">
                <!-- Header -->
                <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-color:#425073; background-size: cover; background-position: center top;">
                    <!-- Mask -->
                    <span class="mask bg-gradient-default opacity-8"></span>
                    <!-- Header container -->
                    <div class="container-fluid d-flex align-items-center">
                        <div class="row">
                            <div class="col-lg-7 col-md-10">
                                <h1 class="display-2 text-white"><b>@member.name</b>님, 안녕하세요 :)</h1>
                                <p class="text-white mt-0 mb-5">개인 정보 페이지입니다.<br /> 변경이 되지 않는 사항은 관리자에게 문의해 주세요.</p>
                                <button type="submit" class="btn btn-info" onclick="alert('입력하신 정보가 변경되었습니다.');">정보 수정</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page content -->
                <div class="container-fluid mt--7">
                    <div class="row">
                        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                            <div class="card card-profile shadow">
                                <div class="row justify-content-center">
                                    <div class="col-lg-3 order-lg-2">
                                        <div class="card-profile-image">
                                            <a href="#">
                                                <img src="/upload/@(member.photo+"thumbnail.jpeg")" class="rounded-circle" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-header text-center border-0">
                                    <div class="justify-content-between">
                                        <a href="/mailbox/mailboxlist" class="btn btn-sm btn-info mr-4" style="float: left">쪽지함</a>
                                        <button type="button" class="btn btn-sm btn-default" name="updatePhotoBtn" style="float: middle; margin-top: 80px;">수정</button>
                                    </div>
                                </div>
                                <div class="card-body pt-0 pt-md-4">
                                    <div style="float: middle !important">
                                        <div>
                                            <div class="card-profile-stats d-flex justify-content-center mt-md-5" style="float: top !important">
                                                <div>
                                                    <a href="${contextPath}/app/board/searchMyPosts"><span class="description">메일관리</span></a>
                                                </div>
                                                <div>
                                                    <a href="${contextPath}/app/comment/searchMyComments"><span class="description">댓글관리</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <h3>
                                            <span class="font-weight-light"><b>@member.name</b>님</span>
                                        </h3>
                                        <div class="h5 font-weight-300">
                                            <i class="ni location_pin mr-2"></i>오늘도 좋은 하루 되십시오.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 order-xl-1">
                            <div class="card bg-secondary shadow">
                                <div class="card-header bg-white border-0">
                                    <div class="row align-items-center">
                                        <div class="col-8">
                                            <span>  <h3 class="mb-0"><b>@member.name</b>님의 계정정보</h3></span>
                                        </div>
                                        <div class="col-4 text-right">
                                            <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h6 class="heading-small text-muted mb-4">내 정보</h6>
                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="u-username">이름</label>
                                                    <input type="text" id="u-username" name="name" class="form-control form-control-alternative" value="@member.name" style="background-color: #f7f7f7;" readonly>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="u-username">사번</label>
                                                    <input type="text" id="u-id" name="member_seq" class="form-control form-control-alternative" value="@member.member_seq" style="background-color: #f7f7f7;" readonly>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="u-nickname">부서</label>
                                                    <input type="text" id="u-department" name="department" class="form-control form-control-alternative" value="@member.department">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="u-position">직책</label>
                                                    <input type="text" id="u-position" name="position" class="form-control form-control-alternative" value="@member.position">
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="u-office_tel">이동번호</label>
                                                    <input type="text" id="u-mobile_tel" name="mobile_tel" class="form-control form-control-alternative" value="@member.mobile_Tel">
                                                </div>
                                            </div>


                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="u-office_tel">내선번호</label>
                                                    <input type="text" id="u-office_tel" name="office_tel" class="form-control form-control-alternative" value="@member.office_Tel">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="u-email">이메일</label>
                                                    <input type="text" id="u-email" name="email" class="form-control form-control-alternative" value="@member.email">
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-group focused">
                                                    <label class="form-control-label" for="u-tel">주요업무</label>
                                                    <input type="text" id="u-mainwork" name="mainwork" class="form-control form-control-alternative" value="@member.mainwork">
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form> <!-- form id:member detail -->
        </div> <!--  main content  -->
        <!--Modal: 출첵 모달-->
        <div class="modal fade" id="checkModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Body-->
                    <div class="modal-body mb-0 p-0">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                            <iframe class="embed-responsive-item" src="dateCheckList"></iframe>
                        </div>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                        <!-- <span class="mr-4">Spread the word!</span> -->
                        <button type="button" id="closeCModal" class="btn btn-outline-primary btn-rounded btn-md ml-4">닫기</button>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: Name-->
        <!--Modal: 버킷 리스트 모달-->
        <div class="modal fade" id="bucketModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Body-->
                    <div class="modal-body mb-0 p-0">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                            <iframe class="embed-responsive-item" src="../bucket/list"></iframe>
                        </div>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                        <!-- <span class="mr-4">Spread the word!</span> -->
                        <button type="button" id="closeBModal" class="btn btn-outline-primary btn-rounded btn-md ml-4">닫기</button>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: Name-->
        <!--Modal: 사진 수정 모달-->
        <div class="modal fade" id="updatePhotoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <!--Content-->
                <div class="modal-content">
                    <!--Body-->
                    <div class="modal-body mb-0 p-0">
                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                            <iframe name="photoChange" class="embed-responsive-item" src="updatePhotoForm"></iframe>
                        </div>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer justify-content-center">
                        <!-- <span class="mr-4">Spread the word!</span> -->
                        <button type="button" id="closePModal" class="btn btn-outline-primary btn-rounded btn-md ml-4">닫기</button>
                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
        <!--Modal: Name-->

        <script>


     


                          // 내 정보의 모달은 iFrame

                           // 출석체크 버튼에 이벤트를 건다.
                           $('#openModalBtn').on('click', function(){
                           $('#checkModal').modal('show');

                           });

                           // 출석체크 안의 취소 버튼에 이벤트를 건다.
                           $('#closeCModal').on('click', function(){
                           $('#checkModal').modal('hide');
                           window.location.reload();
                           });


                            // 버킷 리스트 버튼에 이벤트를 건다.
                            $('#openModalBtn2').on('click', function(){
                            $('#bucketModal').modal('show');
                            });

                            // 버킷 리스트 안의 취소 버튼에 이벤트를 건다.
                            $('#closeBModal').on('click', function(){
                            $('#bucketModal').modal('hide');
                            });


                            // 사진 업데이트 모달
                          $('button[name=updatePhotoBtn]').on('click', function(){
                          $('#updatePhotoModal').modal('show');
                          });

                          // 사진 업데이트 모달 안 취소 버튼에 이벤트를 건다.
                          $('#closePModal').on('click', function(){
                          $('#updatePhotoModal').modal('hide');
                          window.location.reload();
                          });


                        $(".nav li").hover(function() {

                                $(this).children("ul").stop().slideToggle(500)

                              })

        </script>






    </body>
</html>



<style>

    .mb-5 {
        margin-bottom: 3rem !important;
    }

    .row {
        display: flex;
        margin-right: -15px;
        margin-left: -15px;
        flex-wrap: wrap;
    }

    .display-2 span {
        font-weight: 300;
        display: block;
    }

    .display-2 {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1.5;
    }

    media (min-width: 1200px) {
        .mb-xl-0

    {
        margin-bottom: 0 !important;
    }

    }

    media (min-width: 992px) {
        .col-lg-3

    {
        max-width: 25%;
        flex: 0 0 25%;
    }

    .col-lg-4 {
        max-width: 33.33333%;
        flex: 0 0 33.33333%;
    }

    .col-lg-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .col-lg-7 {
        max-width: 58.33333%;
        flex: 0 0 58.33333%;
    }

    .order-lg-2 {
        order: 2;
    }

    }

    .card-profile-image img {
        box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
    }

    .card-profile-image {
        position: relative;
    }

        .card-profile-image img {
            position: absolute;
            left: 50%;
            width: 150px;
            height: 150px;
            transition: all .15s ease;
            transform: translate(-50%, -30%);
            border-radius: .375rem;
        }

            .card-profile-image img:hover {
                transform: translate(-50%, -33%);
            }


    .main-content {
        position: relative;
    }
    /* .main-content .navbar-top {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          width: 100%;
          padding-right: 0 !important;
          padding-left: 0 !important;
          background-color: transparent;
        } */
    media (min-width: 768px) {
        .main-content .container-fluid

    {
        padding-right: 39px !important;
        padding-left: 39px !important;
    }

    }

    media (max-width: 767.98px) {
        .navbar-expand-md>.container, .navbar-expand-md>.container-fluid

    {
        padding-right: 0;
        padding-left: 0;
    }

    }

    .container-fluid {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
    }

    .card-profile-stats {
        padding: 1rem 0;
    }

        .card-profile-stats > div {
            /*  margin-right: 1.5rem; */
            width: 100px;
            padding: .875rem;
            text-align: center;
        }

            .card-profile-stats > div:last-child {
                margin-right: 0;
            }

            .card-profile-stats > div .heading {
                font-size: 1.1rem;
                font-weight: bold;
                display: block;
            }

            .card-profile-stats > div .description {
                font-size: .875rem;
                color: #adb5bd;
            }

    .btn-info {
        color: #fff;
        border-color: #11cdef;
        background-color: #11cdef;
        box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    }

        .btn-info:hover {
            color: #fff;
            border-color: #11cdef;
            background-color: #11cdef;
        }

        .btn-info:focus {
            box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08), 0 0 0 0 rgba(17, 205, 239, .5);
        }

        .btn-info:disabled {
            color: #fff;
            border-color: #11cdef;
            background-color: #11cdef;
        }

        .btn-info:not(:disabled):not(.disabled):active {
            color: #fff;
            border-color: #11cdef;
            background-color: #0da5c0;
        }

            .btn-info:not(:disabled):not(.disabled):active:focus {
                box-shadow: none, 0 0 0 0 rgba(17, 205, 239, .5);
            }


    .mt--7 {
        margin-top: -6rem !important;
    }

    .btn4 {
        padding: 10px;
        color: white;
        font-family: sans-serif;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        text-decoration: none !important;
        display: inline-block;
    }




        .btn4::before {
            content: '';
            position: absolute;
            bottom: 0%;
            left: 0px;
            width: 100%;
            height: 1px;
            background: white;
            display: block;
            -webkit-transform-origin: right top;
            -ms-transform-origin: right top;
            transform-origin: right top;
            -webkit-transform: scale(0, 1);
            -ms-transform: scale(0, 1);
            transform: scale(0, 1);
            -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
            transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
        }

        .btn4:hover::before {
            -webkit-transform-origin: left top;
            -ms-transform-origin: left top;
            transform-origin: left top;
            -webkit-transform: scale(1, 1);
            -ms-transform: scale(1, 1);
            transform: scale(1, 1)
        }

    input.img-button {
        background: url("/apus/img/header/white_logo.svg") no-repeat;
        border: none;
        width: 185px;
        height: 31px;
        cursor: pointer;
    }

    .searchbar {
        margin-bottom: auto;
        margin-top: auto;
        height: 40px;
        background-color: white;
        border-radius: 30px;
        padding: 10px;
    }

    .search_input {
        color: #2C473E;
        border: 0;
        outline: 0;
        background: none;
        width: 0;
        caret-color: transparent;
        line-height: 8px;
        transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input {
        padding: 0 10px;
        width: 200px;
        caret-color: #2C473E;
        transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon {
        background: white;
        /* color: #253629; */
        color: #2C473E;
    }

    .searchbar > .s_icon {
        height: 28px;
        width: 28px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: none;
        border-color: transparent;
        color: #525F7F;
        text-decoration: none;
        background-color: transparent;
    }


    input::placeholder {
        color: #2C473E;
    }

    input::-webkit-input-placeholder {
        color: #2C473E;
    }

    input:-ms-input-placeholder {
        color: #2C473E;
    }

    textarea::placeholder {
        color: #2C473E;
    }

    textarea::-webkit-input-placeholder {
        color: #2C473E;
    }

    textarea:-ms-input-placeholder {
        color: #2C473E;
    }

    .no-italics {
        font-style: normal;
    }

    .dropdown {
        display: inline-block;
        position: relative;
    }

    .dropdown-menu {
        display: none;
        position: absolute;
        width: 100%;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .dropdown:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu a {
        display: block;
        color: #525F7F;
        padding: 5px;
        text-decoration: none;
    }

        .dropdown-menu a:hover {
            color: #2C473E;
            background-color: #dcdcdc;
        }

    .avatar {
        font-size: 1rem;
        display: inline-flex;
        width: 48px;
        height: 48px;
        color: #fff;
        border-radius: 50%;
        background-color: #adb5bd;
        align-items: center;
        justify-content: center;
    }

    .dropdown-menu-center {
        right: auto;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .bg-secondary {
        background-color: #f7fafc !important;
    }

    a.bg-secondary:hover,
    a.bg-secondary:focus,
    button.bg-secondary:hover,
    button.bg-secondary:focus {
        background-color: #d2e3ee !important;
    }

    .col-lg-7 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    media (min-width: 768px) {
        .col-md-10

    {
        max-width: 83.33333%;
        flex: 0 0 83.33333%;
    }

    .col-md-12 {
        max-width: 100%;
        flex: 0 0 100%;
    }

    }

    .card-header {
        margin-bottom: 0;
        padding: 1.25rem 1.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
        background-color: #fff;
    }

        .card-header:first-child {
            border-radius: calc(.375rem - 1px) calc(.375rem - 1px) 0 0;
        }


    .justify-content-center {
        justify-content: center !important;
    }

    .justify-content-between {
        justify-content: space-between !important;
    }

    .align-items-center {
        align-items: center !important;
    }

    media (min-width: 1200px) {
        .justify-content-xl-between

    {
        justify-content: space-between !important;
    }

    }





    .btn-default {
        color: #fff;
        border-color: #172b4d;
        background-color: #172b4d;
        box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    }

        .btn-default:hover {
            color: #fff;
            border-color: #172b4d;
            background-color: #172b4d;
        }

        .btn-default:focus {
            box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08), 0 0 0 0 rgba(23, 43, 77, .5);
        }

        .btn-default:disabled {
            color: #fff;
            border-color: #172b4d;
            background-color: #172b4d;
        }

        .btn-default:not(:disabled):not(.disabled):active {
            color: #fff;
            border-color: #172b4d;
            background-color: #0b1526;
        }

            .btn-default:not(:disabled):not(.disabled):active:focus {
                box-shadow: none, 0 0 0 0 rgba(23, 43, 77, .5);
            }

    .btn-sm {
        font-size: .875rem;
        line-height: 1.5;
        padding: .25rem .5rem;
        border-radius: .375rem;
    }

    media (min-width: 1200px) {
        .col-xl-4

    {
        max-width: 33.33333%;
        flex: 0 0 33.33333%;
    }

    .col-xl-6 {
        max-width: 50%;
        flex: 0 0 50%;
    }

    .col-xl-8 {
        max-width: 66.66667%;
        flex: 0 0 66.66667%;
    }

    .order-xl-1 {
        order: 1;
    }

    .order-xl-2 {
        order: 2;
    }

    }</style>
