@{
    int count = ViewBag.uncheckedMail;
    MemberModel member = ViewBag.member;
    List<MailBoxModel> mailBoxList = ViewBag.mailBoxList;
    string temp = "";

}


<link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


<title>쪽지함</title>

<div class="container2">
    <h1>@member.name 님의 쪽지함</h1>

    <div id="modal" class="modal-overlay">
        <div class="modal-window">
            <div class="box">
                <div class="title">
                    쪽지함
                </div>
                <div class="close-area">X</div>
            </div>
            <div class="content-in">
                <div class="content1">
                    <br>
                    <label for="box1">발신자</label>
                    <br>
                    <div class="col-sm-4">
                        <input id='f-sender' type='text' name='sender.nickname' class="form-control" value="@member.name (@member.member_seq)" readOnly>
                    </div>
                    <br>
                </div>
                <form name="usersend" action='send' method="post" enctype="multipart/form-data" onsubmit="return checkValue()">
                    <div class="content2">
                        <label for="f-receiver">수신자</label>
                        <br>
                        <div class="col-sm-4">
                            <input id='f-receiver' type='text' name='reciever_seq' class="form-control" required>
                            <!-- <input type="button" name='findId' value="아이디확인"> -->

                        </div>
                        <!-- <textarea id="f-receiver" name="receiver" rows=1 cols=45></textarea>
                        <input type="button" name = 'idCheck' value="존재하는 회원인지 체크">  -->
                        <br>
                    </div>

                     <div class="content2">
                        <label for="f-receiver">첨부파일</label>
                        <br>
                        <div class="col-sm-4">
                            <input id='f-file' type='file' name='postedFiles' cols=60 class="form-control" multiple>
                            <!-- <input type="button" name='findId' value="아이디확인"> -->

                        </div>
                        <!-- <textarea id="f-receiver" name="receiver" rows=1 cols=45></textarea>
                        <input type="button" name = 'idCheck' value="존재하는 회원인지 체크">  -->
                        <br>
                    </div>

                    <div class="content3">
                        <label for="f-title">제목</label>
                        <br>
                        <textarea id="f-title" name="title" rows=1 cols=60 class="form-control" required></textarea>
                        <br>
                    </div>
                    <div class="content4">
                        <label for="f-content">내용</label>
                        <br>
                        <textarea id="f-content" name="content" rows=5 cols=73 class="form-control" required></textarea>
                        <br>
                    </div>
                    <div>
                        <button id="btnsub" type="submit" class="btn btn-outline-secondary" onclick="getData()">보내기</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    



    <button id="btn-modal" class="btn btn-outline-primary btn-sm">보내기</button>
 




    <hr>
    <div>
        @for (int i = 0; i < mailBoxList.Count; i++)
        {
            if ((mailBoxList[i].receiver_idx).Equals(member.member_seq))
            {
                <div class="mail-box">
                    <div class="box-photo">
       
                       <img src="/upload/@(mailBoxList[i].sender.photo+"thumbnail.jpeg")" /> 
                    </div>

                    <b class="box-id">@mailBoxList[i].sender.name (@mailBoxList[i].sender_idx)</b>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <div class="box-title">
                        <a href='detail?idx=@mailBoxList[i].idx'>
                            @if (@mailBoxList[i].title.Length > 7)
                            {
                                temp = mailBoxList[i].title;
                                @(temp.Substring(0, 6) + "..." )
                            }
                            else
                            {
                                @mailBoxList[i].title
                            }
                        </a>

                        @if (mailBoxList[i].checked_time.Year == 0001)
                        {
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <i style="color: red; margin-left: 10px;" class="bi bi-bell">new</i>
                           <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        @mailBoxList[i].sent_time
                           <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <button style="margin-left: 10px;" class="border-0 btn-transition btn btn-outline-secondary"
                        name="b-trashBtn" type="button" data-no="@mailBoxList[i].idx">
                            <i class="bi bi-trash"></i>
                            </button>
                        } 
                         else
                        {
                            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                             <span> @mailBoxList[i].sent_time
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                             <button style="margin-left: 10px;" class="border-0 btn-transition btn btn-outline-secondary"
                        name="b-trashBtn" type="button" data-no="@mailBoxList[i].idx">

                            <i class="bi bi-trash"></i>
                            </button>
                            </span>
                        }

                    </div>
               
             
                    

                </div>
            }


        }


    </div>

</div>


<!-- 휴지통 모달 -->
<form id="deleteForm" action='delete'>
    <div id="deleteModal" class="modal fade" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
        <div class="modal-dialog modal-confirm">
            <div class="modal-content">
                <div class="modal-header flex-column">
                    <div class="icon-box">
                    </div>
                    <h4 class="modal-title w-100">정말 삭제하시겠습니까?</h4>
                </div>
                <div class="modal-body">
                    <p>삭제된 쪽지는 복구할 수 없습니다.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" id="d-cancelBtn" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <div>
                        <button id="confirmDelete" type="submit" class="btn btn-danger">삭제</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="transferNo">
        <input type="hidden" id="sendNo" name="idx" value="">
    </div>
</form>






<script>

        const modal = document.getElementById("modal")
            const btnModal = document.getElementById("btn-modal")
            btnModal.addEventListener("click", e => {
                modal.style.display = "flex"
            })

            const closeBtn = modal.querySelector(".close-area")
            closeBtn.addEventListener("click", e => {
                modal.style.display = "none"
            })

            modal.addEventListener("click", e => {
            const evTarget = e.target
                if(evTarget.classList.contains("modal-overlay")) {
                    modal.style.display = "none"
                }
        })

        $(document).on(selector, event, function() {

    });
</script>





<style>
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%
    }


    media (min-width: 576px) {
        .container

    {
        max-width: 540px;
    }

    }

    media (min-width: 768px) {
        .container

    {
        max-width: 720px;
    }

    }

    media (min-width: 992px) {
        .container

    {
        max-width: 960px;
    }

    }

    media (min-width: 1200px) {
        .container

    {
        max-width: 1140px;
    }

    }

    font-face {
        font-family: 'IBMPlexSansKR-Regular';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    body {
        font-family: IBMPlexSansKR-Regular;
    }

    /* 모달창 디자인 */
    #modal.modal-overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        display: none;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(1.5px);
        -webkit-backdrop-filter: blur(1.5px);
        border-radius: 3px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

    #modal .modal-window {
        background: rgba( 167, 201, 210, 0.70 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 13.5px );
        -webkit-backdrop-filter: blur( 13.5px );
        border-radius: 3px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        width: 750px;
        position: absolute;
        overflow-y: auto !important;
        overflow: hidden;
        max-height: 700px;
        top: 100px;
        xpadding: 20px;
    }


    #modal .title {
        xborder: 1px solid gray;
        padding-left: 20px;
        padding-top: 20px;
        height: 50px;
        xdisplay: inline;
        xtext-shadow: 1px 1px 2px gray;
        color: black;
        font-size: 20px;
        float: left;
    }

    /* #modal .title h2 {
          display: inline;


        } */

    #modal .close-area {
        display: inline;
        float: right;
        padding-right: 30px;
        padding-top: 30px;
        cursor: pointer;
        xtext-shadow: 1px 1px 2px gray;
        color: black;
    }

    #modal .content {
        margin-top: 40px;
        padding: 0px 10px;
        text-shadow: 1px 1px 2px gray;
        color: white;
    }

    /* 쪽지함 모달안 디자인 */
    .content-in {
        xborder: 1px solid gray;
        width: 700px;
        padding: 0 20 20 20;
        margin: 0 auto;
        margin-top: 50px;
    }

    .sendbtn {
        xborder: 1px solid red;
        xwidth: 640px;
        margin-top: 35px;
        text-align: center;
    }

    /* 쪽지함 리스트 */
    .th {
        font-size: 13px;
    }

    .mail-box {
        xborder: 1px solid red;
        width: 1000px;
        height: 100px;
        margin: 0 auto;
        margin-left: 100px;
        margin-top: 50px;
        border-left: 0.5em;
        border-left-style: solid;
        border-left-color: lightgray;
        xborder-bottom: 0.1em solid gray;
    }

    .box-photo {
        xborder: 1px solid blue;
        width: 100px;
        height: 100px;
        float: left;
        padding-left: 20px;
        padding-top: 20px;
    }

    .box-img {
        xborder: 1px solid blue;
        width: 60px;
        height: 60px;
        float: left;
        line-height: 100px;
        background: darkgray;
        border-radius: 50%;
        vertical-align: middle;
    }

    .box-id {
        xborder: 1px solid gray;
        padding-top: 35px;
        float: left;
        margin-left: 35px;
        font-size: 16px;
    }

    .box-title {
        xborder: 1px solid skyblue;
        padding-top: 35px;
        float: left;
        margin-left: 35px;
        color: darkgray;
    }

    .box-time {
        xborder: 1px solid green;
        float: right;
        padding-right: 20px;
        padding-top: 35px;
    }

    .hr {
        width: 700px;
        margin: 0 auto;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }
</style>





