@model List<BoardModel>
@{
    int page = ViewBag.Page ?? 1;  // 없으면 1
    int totalCount = ViewBag.TotalCount ?? 0;   // 없으면 0
    int maxListCount = ViewBag.MaxListCount ?? 1;
    int totalPageCount = ViewBag.TotalPageCount ?? 1;
    int startPage = ViewBag.StartPage;
    int endPage = ViewBag.EndPage;

    if (page > totalPageCount)
    {
        totalPageCount = page;
    }

}

<style>
    th {
        text-align: center;
    }
</style>


<div>
    <a class="nav-link float-right" href="javascript:void(0)">
    <form>
        <div class="customize-input">
            <input class="form-control custom-shadow custom-radius border-0 bg-white"
                   type="search" placeholder="Search" aria-label="Search">
            <i class="form-control-icon" data-feather="search"></i>
        </div>
    </form>
</a>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered no-wrap">
                        <colgroup>
                            <col style="width:100px" />
                            <col style="width:auto" />
                            <col style="width:100px" />
                            <col style="width:100px" />
                            <col style="width:20px" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th><center>제목</center></th>
                                <th><center>등록자</center></th>
                                <th>등록일시</th>
                                <th><center>조회수</center></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td text-align: center>@item.Idx</td>
                                    <td><a href="/board/boardView?idx=@item.Idx">@item.Title</a></td>
                                    <td>@item.UserName</td>
                                    <td>@item.registeredDate</td>
                                    <td><center>@item.View_Cnt</center></td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <!-- 페이징 버튼 부분 -->
                    <div class="text-center">
                        <div class="btn-group">
                            <div>
                                @if (startPage > 1)
                                {
                                    <button type="button" class="btn btn-link">
                                        <a href="?page=1">&lt;&lt;</a>
                                    </button>
                                    <button type="button" class="btn btn-link">
                                        <a href="?page=@(startPage-1)">&lt;</a>
                                    </button>
                                }
                                @if (page != 1)
                                {
                                    <button type="button" class="btn btn-link">
                                        <a href="?page=@(page-1)">이전&nbsp;</a>
                                    </button>
                                }

                                @for (int i = startPage; i <= endPage; i++)
                                {
                                    <a href="?page=@i" class="btn btn-@(page == i? "primary" : "default")">@i</a>

                                }
                                @if (page != totalPageCount)
                                {
                                    <button type="button" class="btn btn-link">
                                        <a href="?page=@(page+1)">다음</a>
                                    </button>
                                }
                                @if (page < totalPageCount)
                                {
                                    <button type="button" class="btn btn-link">
                                        <a href="?page=@(endPage+1)">&gt;</a>
                                    </button>
                                    <button type="button" class="btn btn-link">
                                        <a href="?page=@totalPageCount">&gt;&gt;</a>
                                    </button>
                                }
                            </div>
                        </div>
                    </div>


                    @if (Model.Count() == 0)
                    {
                        <div class="alert alert-info">
                            데이터가 없습니다.
                        </div>
                    }
                </div>
                <div class="text-right">
                    <a href="/board/boardwrite" class="btn btn-sm btn-primary">글쓰기</a>
                </div>
            </div>
        </div>
    </div>
</div>






<!--   @if (totalPageCount <= 10)
{
    @for (int i = 1; i <= totalPageCount; i++)
    {
                                                           <a href="?page=@i" class="btn btn-@(page == i? "primary" : "default")">@i</a>

    }
}

else // 전체 페이지수가 10개가 넘을때, 이전과 다음 넣어야 함
{
    if (page > 10 && page % 10 != 0)
    {
                                                           <a href="?page=@(page-page%10)">&lt이전</a>
    }
    if (page > 10 && page % 10 == 0)
    {
                                                           <a href="?page=@(page-10)">&lt이전</a>
    }

    if (totalPageCount > page)
    {
        for (int i = 1; i <= 10; i++)
        {
            if (page % 10 != 0)
            {
                                                                                           <a href="?page=@(i+page/10*10)" class="btn btn-@(page == i? "primary" : "default")">@(i+page/10*10)</a>
            }
            if (page % 10 == 0)
            {
                                                                                           <a href="?page=@i" class="btn btn-@(page == i? "primary" : "default")">@i</a>
            }
        }
                                                           <a href="?page=@(page+10-(page-1))">다음&gt;</a>
    }

    // 굉장히 잘못되었음
    if (totalPageCount <= page)
    {
        for (int i = 1; i <= page % 10; i++)
        {
            if (page % 10 != 0)
            {
                                                                                           <a href="?page=@(i+page/10*10)" class="btn btn-@(page == i? "primary" : "default")">@(i+page/10*10)</a>
            }
            if (page % 10 == 0)
            {
                                                                                           <a href="?page=@i" class="btn btn-@(page == i? "primary" : "default")">@i</a>
            }
        }
    }

}
              -->
